/*-----Global style */
body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    color: rgb(10, 10, 10);
    text-align: center;
}

/*------Heading */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 60px;
    padding-right: 5px;
}

/*------Game layout */
.game-area {
    background-color: rgba(189, 218, 235, 0.2);
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/*-----intro box with button for start quiz---*/
.intro-controls {
    display: flex;
    justify-content: space-evenly;
}
.intro {
    /*intro box will appear when first loaded */
    display: block;
    position: fixed;
    /* sit on top */
    z-index: 3;
    padding-top: 100px;
/*    left: 0;
    top: 0;*/
    width: 50vw;
    height: 50vh;
    background-color: rgba(241, 9, 9, 0.8);
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 100px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

.answer-button {
    width: 220px;
    height: 60px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
}

#results-control {
    display: flex;
    justify-content: space-evenly;
}

#results {
    /* hidden by default*/
    display: none;
    background-color: rgba(241, 9, 9, 0.8);
    position: fixed;
    z-index: 99;
    width: 50vw;
    height: 50vh;
}

/* ------- Media queries */

@media (max-width: 800px) {
    .question-area {
        width: 75%;
    }
}

@media (max-width: 520px) {
    .question-area {
        width: 100%;
    }
}