/*-----Global style */
body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: 2rem;
}

/*------Heading */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 60px;
    padding-right: 5px;
}

/*------Game layout */
.game-area {
    background-color: rgba(189, 218, 235, 0.2);
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.button {
    width: 20vw;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(87, 195, 238);
}

.button:hover {
    background-color:blue;
}

/*-----intro box with button for start quiz---*/
.intro-controls {
    display: flex;
    justify-content: space-evenly;
}
.intro {
    /*intro box will appear when first loaded */
    display: block;
    position: fixed;
    /* sit on top */
    z-index: 3;
    padding-top: 100px;
    width: 50vw;
    height: 55vh;
    background-color: rgb(241, 9, 9);
}

.question-area {
    width: 50%;
    margin: auto;
    padding: 100px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

.results-control {
    display: flex;
    justify-content: space-evenly;
}

.results {
    /* hidden by default*/
    display: none;
    background-color: rgb(8, 221, 61);
    padding-top: 100px;
    position: fixed;
    z-index: 3;
    width: 50vw;
    height: 55vh;
}

#final-score {
    color:rgb(32, 9, 241);
}

#final-incorrect {
    color:crimson;
}

/* ------- Media queries */

@media (max-width: 850px) {
    .game-area {
        font-size: 1.5rem;
    }
    .button {
        font-size: 1.5rem;
        width: 30vw;
    } 
    .intro {
        width: 75vw;
        height: 55vh;
    }
    .question-area {
        width: 75%;
    }
    .score-area {
        font-size: 1rem;
    }
    #answer-box {
        font-size: 1.5rem;
    }
    .scores {
        padding: 10px;
    }    
    .results {
        width: 75vw;
        height: 55vh;
    }    
}

@media (max-width: 600px) {
    .game-area {
        font-size: 1rem;
    }
    .button {
        font-size: 0.8rem;
    } 
    .question-area {
        width: 100%;
    }
    
    #answer-box {
        font-size: 1rem;
        height: 30px;
        width: 40px;
    }
    .scores {
        padding: 0;
    }    
}